*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 420px;
  background-color: #DFDEE0;
}

nav {
  margin: 0 auto;
  padding: 15px;
  position: fixed;
  width: 420px;
  background-color: #000000;
}

nav .arrow-left {
  font-size: 10px;
}

.restaurant-list {
  padding-top: 45px;
  line-height: 20px;
}

.restaurant-list h1 {
  font-size: 18px;
  font-weight: 600;
}

.location {
  border: 1px solid #858486;
  padding-bottom: 20px;
}

.content {
  display: inline-block;
  line-height: 150%;
  padding-left: 20px;
  padding-top: 25px;
}

.location:hover, .content:hover {
  background-color: #B4B2B4;
}

.arrow {
  float: right;
  display: inline-block;
  font-size: 10px;
  padding: 40px 12px 0px 0px;
}
